name: CI

on:
  push:
    branches: [main]

jobs:
  audit:
    name: Audit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Install PNPM
        uses: pnpm/action-setup@v2.1.0
        with:
          version: 6
      
      - name: Audit Dependencies
        run: pnpm audit --prod --audit-level critical # TODO: lower this

  build:
    name: Build
    needs: [audit]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Install
        uses: ./.github/actions/install
      
      - name: Compile TypeScript
        run: pnpm build

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Install
        uses: ./.github/actions/install
      
      - name: Lint
        run: pnpm lint

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Install
        uses: ./.github/actions/install
      
      - name: Test
        run: pnpm unit-test