name: Test deployment

on:
  pull_request:
    branches: [main]
    paths: [docs/**]

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - name: Test build
        working-directory: docs
        run: |
          pnpm install --frozen-lockfile
          pnpm build