name: Publish

on:
  workflow_dispatch: #trigger
  push:
    branches: [main]
    paths: [./.github/workflows/publish.yml, packages/**]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    environment: release
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Install
        uses: ./.github/actions/install

      - name: Compile TypeScript
        run: pnpm build

      # This step will create or update the PR, "Package Versions". When that
      # PR is merged, it will release to NPM. Maintainers should ensure PR is
      # passing all checks before merging PR since audit, lint, test doesn't run
      # in this workflow
      - name: Create PR, Update PR, or Release to NPM
        uses: changesets/action@v1
        with:
          # see ./scripts/changeset-version.ts
          version: pnpm changeset-version
          # publish command will only run upon merge of PR created by changesets.
          # publish doesn't run on every push to main
          # TODO: update to use native changeset option to use PNPM when this merges:
          # https://github.com/changesets/changesets/pull/674
          publish: pnpm -r publish --access public --tag main --json --no-git-checks
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}